/* global variables */
.barwo-youth-cms {
  --sideBarWidth: 250px;
}

/* navbar */
.barwo-youth-cms #mySidebar {
  width: var(--sideBarWidth);
  z-index: 3;
}

/* main */
.barwo-youth-cms .main {
  margin-left: var(--sideBarWidth);
}
