.event-edit-artist-select {
}

.event-edit-artist-select .list-item {
}

.event-edit-artist-select .list-item .remove-btn {
  --size: 20px;

  cursor: pointer;

  width: var(--size);
  height: var(--size);
}
